library-service/src/main/resources/library.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:sch="http://smartcampus.com/library"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://smartcampus.com/library" targetNamespace="http://smartcampus.com/library">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://smartcampus.com/library">
            <xs:element name="BookLoanRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="studentId" type="xs:string"/>
                        <xs:element name="bookId" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="BookLoanResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="loanId" type="xs:string"/>
                        <xs:element name="status" type="xs:string"/>
                        <xs:element name="dueDate" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="BookLoanResponse">
        <wsdl:part element="tns:BookLoanResponse" name="BookLoanResponse"/>
    </wsdl:message>
    <wsdl:message name="BookLoanRequest">
        <wsdl:part element="tns:BookLoanRequest" name="BookLoanRequest"/>
    </wsdl:message>
    <wsdl:portType name="LibraryPort">
        <wsdl:operation name="BookLoan">
            <wsdl:input message="tns:BookLoanRequest" name="BookLoanRequest"/>
            <wsdl:output message="tns:BookLoanResponse" name="BookLoanResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LibraryPortSoap11" type="tns:LibraryPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="BookLoan">
            <soap:operation soapAction=""/>
            <wsdl:input name="BookLoanRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="BookLoanResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LibraryPortService">
        <wsdl:port binding="tns:LibraryPortSoap11" name="LibraryPortSoap11">
            <soap:address location="http://localhost:8083/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>